body {
  font-family: 'Inter', sans-serif; /* Ensures fallback font in case 'Inter' is not available */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Navbar Styles */
.navbar-brand .logo {
  height: 40px;
}

/* Title Section Styles */
.container.text-center {
  color: #0d6efd;
}

.container h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

/* Parent1 Section Styles */
.bg-primary {
  background-color: #0d6efd;
}

.input-group {
  max-width: 400px;
}

/* Parent2 Section Styles */
.containerrrr {
  padding: 20px;
}


.card-img {
  width: 100%;
  height: 210px;
  object-fit: cover;
}

/* Card Styles */
.card {
  border: none;
}

.card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.row.no-gutters {
  margin: 0;
}

.row.no-gutters .col-md-6 {
  padding: 0;
}

/* Latest Blog Posts Styles */
.btn-link.text-primary {
  color: #0d6efd;
}

.btn-link.text-primary i {
  color: #0d6efd;
}

/* Blue Section Styles */
.bg-primary {
  background-color: #0d6efd;
  color: #d4d3d3;
  padding: 2rem;
  text-align: center;
}

.bg-primary .btn-light {
  background-color: #fff;
  color: #0d6efd;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
}

.bg-primary .btn-light:hover {
  background-color: #e9ecef;
}

/* Footer Styles */
footer {
  background-color: #151B28;
}

footer img {
  max-width: 100px;
}

footer p, footer ul {
  color: aliceblue;
}

footer .list-unstyled {
  margin: 0;
  padding: 0;
}

footer .list-unstyled li {
  margin-bottom: 0.5rem;
}

footer .col-md-8 {
  padding-right: 30px;
}

footer .text-center {
  color: white;
}
.no-border {
  border: none ;
  box-shadow: none ;
}
